@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Map Data Viewer</h1>
    <p> <a href="https://localhost:44311/LocationData">View Location Data</p>
    <p><a href="https://localhost:44311/LocationMaps">View Location Maps </a></p>
</div>
